.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.mesh-gradient-background {
  background: radial-gradient(circle at 20% 20%, #ffffff, transparent 40%),
    radial-gradient(circle at 80% 20%, #f3f8ff, transparent 40%),
    radial-gradient(circle at 20% 80%, #e9f0fa, transparent 40%),
    radial-gradient(circle at 80% 80%, #f0f4f8, transparent 40%),
    radial-gradient(circle at 50% 50%, #e7edf3, transparent 50%);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.results-container {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  min-height: 200px;
}

.results-container.show {
  opacity: 1;
  transform: translateY(0);
}
